*{
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.container{
    width: 640px;
    height: 282px;
    background-color: white;
    border-radius: 10px;
    margin: 10px;
}

.accordion1{
    height: 30px;
    background-color: white;
    border: 2px solid rgb(215, 215, 215);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding-top: 15px;
    padding-left: 15px;
}

.accordion3{
    height: 30px;
    background-color: white;
    border: 2px solid rgb(215, 215, 215);
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    padding-top: 15px;
    padding-left: 15px;
}

.accordion2{
    height: 30px;
    background-color: rgb(151, 176, 249);
    border-left: 2px solid rgb(215, 215, 215);
    border-right: 2px solid rgb(215, 215, 215);
    border-bottom: 2px solid rgb(215, 215, 215);
    padding-top: 15px;
    padding-left: 15px;
}

.icon{
    position: relative;
    left: 470px;
}

.text{
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 15px;
    border-left: 2px solid rgb(215, 215, 215);
    border-right: 2px solid rgb(215, 215, 215);
}