*{
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.area1{
    text-indent: 10px;
}

.area2{
    background-color: rgb(220, 219, 219);
    height: 270px;
    width: 900px;
    border-radius: 5px;
}

.area4{
    text-indent: 10px;
}

.border{
    border: 3px solid green;
    height: 50px;
    width: 870px;
    line-height: 50px;
    margin: 10px;
}

.text1{
    color: red;
    background-color: rgb(225, 225, 225);
}

.area3{
    background-color: white;
    border-left: 5px solid rgb(17, 152, 17);
    width: 870px;
    height: 110px;
    margin: 10px;
    line-height: 25px;
}

.button{
    background-color: rgb(17, 152, 17);
    color: white;
    border-radius: 10px;
    height: 40px;
    width: 120px;
    margin: 10px;
    border: none;
}

.text2{
    color: coral;
}

.text3{
    color: red;
}

.text4{
    color: blue;
}