*{
    margin: 0;
    padding: 0;
}

.title{
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
}

.heading{
    color: white;
}

.text{
    color: rgb(34, 186, 34);
}