*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
table{
    border: 1px solid  rgba(165, 165, 165, 0.299);
    border-collapse: collapse;
    height: 40px;
}

tr, td{
    border: 1px solid rgba(165, 165, 165, 0.299);
    border-collapse: collapse;
    height: 40px;
}

.table{
    text-align: center;
    height: 100px;
    width: 1520px;
    background-color: rgba(192, 192, 192, 0.299);
}
.body{
    background-color: rgb(255, 255, 255);
}
.view{
    color: azure;
    width: 50px;
    height: 30px;
    background-color:  rgb(20, 204, 20);
    border: 0px;
}
.update{
    width: 70px;
    height: 30px;
    background-color: rgb(248, 214, 20);
    border: 0px;
}
.delete{
    background-color: rgb(218, 41, 41);
    color: azure;
    width: 70px;
    height: 30px;
    border: 0px;
}

.title{
    background-color: rgba(175, 176, 176, 0.299);
    font-weight: bold;
    font-size: 25px;
    height: 50px;
    line-height: 50px;
}

.heading{
    background-color: rgb(15, 122, 209);
    color: azure;
}