*{
    margin: 0;
    padding: 0;
}

.container{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 600px;
    height: 400px;
    background-color: rgb(210, 208, 208);
    border: 2px solid black;
    margin: 10px;
}

.content{
    display: flex;
    width: 80px;
    height: 100px;
    background-color: rgb(70, 70, 206);
    align-items: center;
    color: white;
    padding-left: 20px;
}
